body{
    --text-headline-color: #E1624F;
    --text-primary-color: #1B1B1B;
    --text-secondary-color: #333333;
    --accent-blue: #0C51A7;
    --accent-purple: #591B98;
    --accent-pink: #E5245E;
}